#navbar-main {
  height: 70px;
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.431);
  font-family: 'Helvetica';
  background-color: white;
  z-index: 6;
}

.container-navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 24px;
}

.container-navbar-left {
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.container-navbar-right {
  display: flex;
  align-items: center;
  max-width: 440px;
  justify-content: space-between;
  width: 100%;
}

.container-navbar-right input {
  height: 30px;
  border: 2px solid #D0D0D0;
  border-radius: 3px;
}

.container-navbar-right button {
  height: 32px;
  border: 2px solid #0D28A6;
  color: #0D28A6;
  padding: 0px 4px;
  background: none;
  border-radius: 4px;
}

.account-navbar {
  display: flex;
  align-items: center;
  max-width: 160px;
  width: 100%;
  justify-content: space-between;
}

.account-navbar p {
  margin: auto;
}